@-webkit-keyframes petalOneAnimate {.petal-one-frames;}
@-moz-keyframes petalOneAnimate {.petal-one-frames;}
@-ms-keyframes petalOneAnimate {.petal-one-frames;}
@-o-keyframes petalOneAnimate {.petal-one-frames;}
@keyframes petalOneAnimate {.petal-one-frames;}

@-webkit-keyframes petalTwoAnimate {.petal-two-frames;}
@-moz-keyframes petalTwoAnimate {.petal-two-frames;}
@-ms-keyframes petalTwoAnimate {.petal-two-frames;}
@-o-keyframes petalTwoAnimate {.petal-two-frames;}
@keyframes petalTwoAnimate {.petal-two-frames;}

@-webkit-keyframes petalThreeAnimate {.petal-three-frames;}
@-moz-keyframes petalThreeAnimate {.petal-three-frames;}
@-ms-keyframes petalThreeAnimate {.petal-three-frames;}
@-o-keyframes petalThreeAnimate {.petal-three-frames;}
@keyframes petalThreeAnimate {.petal-three-frames;}

@-webkit-keyframes petalFourAnimate {.petal-four-frames;}
@-moz-keyframes petalFourAnimate {.petal-four-frames;}
@-ms-keyframes petalFourAnimate {.petal-four-frames;}
@-o-keyframes petalFourAnimate {.petal-four-frames;}
@keyframes petalFourAnimate {.petal-four-frames;}

@-webkit-keyframes petalFiveAnimate {.petal-five-frames;}
@-moz-keyframes petalFiveAnimate {.petal-five-frames;}
@-ms-keyframes petalFiveAnimate {.petal-five-frames;}
@-o-keyframes petalFiveAnimate {.petal-five-frames;}
@keyframes petalFiveAnimate {.petal-five-frames;}

@-webkit-keyframes petalSixAnimate {.petal-six-frames;}
@-moz-keyframes petalSixAnimate {.petal-six-frames;}
@-ms-keyframes petalSixAnimate {.petal-six-frames;}
@-o-keyframes petalSixAnimate {.petal-six-frames;}
@keyframes petalSixAnimate {.petal-six-frames;}

@-webkit-keyframes petalSevenAnimate {.petal-seven-frames;}
@-moz-keyframes  petalSevenAnimate {.petal-seven-frames;}
@-ms-keyframes  petalSevenAnimate {.petal-seven-frames;}
@-o-keyframes petalSevenAnimate {.petal-seven-frames;}
@keyframes  petalSevenAnimate {.petal-seven-frames;}

@-webkit-keyframes petalEightAnimate {.petal-eight-frames;}
@-moz-keyframes  petalEightAnimate {.petal-eight-frames;}
@-ms-keyframes  petalEightAnimate {.petal-eight-frames;}
@-o-keyframes petalEightAnimate {.petal-eight-frames;}
@keyframes  petalEightAnimate {.petal-eight-frames;}

/* mixins */
.petal-one-frames () {
	from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
	to { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px); }
}

.petal-two-frames () {
	from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
	to { -webkit-transform: rotate(10deg) scale(1) skew(0deg) translate(0px); }
}

.petal-three-frames () {
	from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
	to { -webkit-transform: rotate(20deg) scale(1) skew(0deg) translate(0px); }
}

.petal-four-frames () {
	from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
	to { -webkit-transform: rotate(30deg) scale(1) skew(0deg) translate(0px); }
}

.petal-five-frames () {
	from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
	to { -webkit-transform: rotate(40deg) scale(1) skew(0deg) translate(0px); }
}

.petal-six-frames () {
	from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
	to { -webkit-transform: rotate(50deg) scale(1) skew(0deg) translate(0px); }
}

.petal-seven-frames () {
	from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
	to { -webkit-transform: rotate(60deg) scale(1) skew(0deg) translate(0px); }
}

.petal-eight-frames () {
	from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
	to { -webkit-transform: rotate(70deg) scale(1) skew(0deg) translate(0px); }
}

.flowerTransform {
 -webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	-ms-transform-origin: top left;
	-webkit-transform-origin: top left;
 	transform-origin: top left;
}

.flower{
	height: 1px;
	width: 100%;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 120px;
	-webkit-border-bottom-left-radius: 80px;
	-webkit-border-bottom-right-radius: 80px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 120px;
	border-top-left-radius: 0px;
	border-top-right-radius: 80px;
	border-bottom-left-radius: 90px;
	border-bottom-right-radius: 0;
	position: absolute;
	margin: 0 auto;
	 top: 0;
	left: 0;
	border: 1px solid #D6FFFB;
	background-color: #FFFFFF;
}

.petal1{
	-webkit-animation: petalOneAnimate 1s 16 ease;
-moz-animation: petalOneAnimate 1s 16 ease;
-o-animation: petalOneAnimate 1s 16 ease;
 .flowerTransform;
}

.petal2{
	-webkit-animation: petalTwoAnimate 1s 16 ease;
-moz-animation: petalTwoAnimate 1s 16 ease;
-o-animation: petalTwoAnimate 1s 16 ease;
 .flowerTransform;
}

.petal3{
	-webkit-animation: petalThreeAnimate 1s 17 ease;
-moz-animation: petalThreeAnimate 1s 17 ease;
-o-animation: petalThreeAnimate 1s 17 ease;
.flowerTransform;

}

.petal4{
	-webkit-animation: petalFourAnimate 1s 18 ease;
-moz-animation: petalFourAnimate 1s 18 ease;
-o-animation: petalFourAnimate 1s 18 ease;
.flowerTransform;

}

.petal5{
-webkit-animation: petalFiveAnimate 1s 19 ease;
-moz-animation: petalFiveAnimate 1s 19 ease;
-o-animation: petalFiveAnimate 1s 19 ease;
 .flowerTransform;
}

.petal6{
-webkit-animation: petalSixAnimate 1s 20 ease;
-moz-animation: petalSixAnimate 1s 20 ease;
-o-animation: petalSixAnimate 1s 20 ease;
 .flowerTransform;
}

.petal7{
-webkit-animation: petalSevenAnimate 1s 21 ease;
-moz-animation: petalSevenAnimate 1s 21 ease;
-o-animation: petalSevenAnimate 1s 21 ease;
 .flowerTransform;
}

.petal8{
-webkit-animation: petalEightAnimate 1s 22 ease;
-moz-animation: petalEightAnimate 1s 22 ease;
-o-animation: petalEightAnimate 1s 22 ease;
 .flowerTransform;
}