/* variables */
@text-color: #000;
@text-highlight-color: #0443B6;
@text-head-color:#000;
@bottom-margin: 10px;
@mobile: ~"screen and (min-width: 480px)"; //  wider mobile 
@tablet: ~"screen and (min-width: 768px)"; // 768 and above tablet
@laptop: ~"screen and (min-width: 992px)"; //  992 and above laptop
@desktop: ~"screen and (min-width: 1200px)"; //1200 and above - wide screen


/* styles */
body{
	color:@text-color;
	font-size: 16px;
	margin: 0 auto;
	padding: 10px;
	line-height: 1.5;
	min-width: 320px;
	max-width: 1500px;
	background: #cdf2ee; 
	//jlr do - add a gradient mixin
	background: -moz-linear-gradient(top,  #cdf2ee 1%, #ffffff 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#cdf2ee), color-stop(75%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cdf2ee 1%,#ffffff 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cdf2ee 1%,#ffffff 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cdf2ee 1%,#ffffff 75%); /* IE10+ */
	background: linear-gradient(to bottom,  #cdf2ee 1%,#ffffff 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdf2ee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	 @media @desktop{
	  	padding: 50px 50px 50px 70px;
	  	font-size: 14px;
	  }
}

h1{
	margin-bottom:0px;
}

h3{
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 20px;
}

h4{
	margin: 0 0 5px 0;
	padding: 0;
}

header{
	margin-bottom: 0px;
	@media @desktop{
		margin-bottom: 20px;
	}
}

h1, h2, h3, h4, header{
	color:@text-head-color;
}


.list-unstyled li{
	display: inline-block;
	margin: 0 10px 0 0;
}

.resume-section{
	margin-bottom: @bottom-margin;
}

.resume-job{
	margin-bottom: @bottom-margin;
}

.company{
	font-weight: bold;
}


div.row.resume-section{
margin-top: 20px;

&.experience .col-md-10{
	padding-left: 50px;
	@media @laptop{
	  	padding-left: 30px;
	  }
	}  
}

@media @laptop{
 .pull-right-md {
  text-align:right;
  }
}

.summary{
	display: none;
	@media @laptop{
		display: block;
	}
}

@import "animation.less";
