<html ng-app = "resumeApp">
<head>
	<title>Jordana Riley's Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/jordana.css">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type="text/javascript" src="scripts/portfolio.js"></script>
</head>
<body ng-controller="portfolioCtrl">
	
	<header class="container-fluid"	>
		<div class="flower petal1"></div>
		<div class="flower petal2"></div>
		<div class="flower petal3"></div>
		<div class="flower petal4"></div>
		<div class="flower petal5"></div>	
		<div class="flower petal6"></div>
		<div class="flower petal7"></div>
		<div class="flower petal8"></div>
		<div class="flower petal9"></div>

		<div class="row">
			<h1 class="col-md-12 name">{{resume.basics.name}}</h1> 	
		</div>

		<div class="row">
			<h4 class="col-md-4">{{resume.basics.email}}</h4>
			<h4 class="col-md-4">{{resume.basics.linkedin}}</h4>
			<h4 class="col-md-4 pull-right-md">{{resume.basics.location.city}}</h4>
		</div>
	</header>

	<div class="container-fluid">
		<div class="row resume-section">
			<h4 class="col-md-2 summary">Summary</h4>
			<div class="col-md-10">
				<h3>{{resume.basics.label}}</h3>
				{{resume.basics.summary}}
			</div>
		</div>
		<div class="row resume-section">
			<h4 class="col-md-2">Key Competencies</h4>
			<div class="col-md-10">
				<ul class="list-unstyled">
					<li ng-repeat = "competency in resume.competencies" >- {{competency}}</li>
				</ul>
			</div>
		</div>
		<div class="row resume-section">
			<h4 class="col-sm-2">Technical Skills</h4>
			<div class="col-sm-10">
				<div class="row" ng-repeat = "skill in resume.skills">
					<div class="col-sm-2">{{skill.name}}</div>
					<div class="col-sm-10"><span ng-repeat = "keyword in skill.keywords">{{keyword}} </span></div>
				</div>
			</div>
		</div>
		<div class="row resume-section experience">
			<h4 class="col-md-2">Professional Experience</h4>
			<div class="col-md-10">
				<div class="row" ng-repeat="job in resume.work">
					<div class="row">
						<div class="col-md-8 company">{{job.company}}</div>
						<div class="col-md-4 pull-right-md year">{{job.dateRange}}</div>
					</div>
					<div class="row resume-job">
						<div class = "col-md-12">
						{{job.position}}<br>
						{{job.summary}}
						<ul>
							<li ng-repeat="highlight in job.highlights">
								{{highlight}}
							</li>
						</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="row resume-section">
			<h4 class="col-sm-2">Education</h4>
			<div class="col-sm-10">
				{{resume.education.institution}} - {{resume.education.studyType}}
			</div>
		</div>
			<div class="row resume-section">
			<h4 class="col-sm-2">Community Affliation</h4>
			<div class="col-sm-10">
				<a ng-href="{{resume.volunteer.website}}">{{resume.volunteer.organization}}</a>
			</div>
		</div>
		</div>
	<div>
<body>
</html>